header .profile {
    width: 45px;
    height: 45px;
}

.nav-item:nth-child(1) {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item:nth-child(2) {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-list {
    /* position: absolute;
    top: 0;
    width: 100%; */
    margin-right: -52px;
}

.profile-image {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    /* background-position: center; */
    /* position: relative; */
    z-index: 2;
}

.main-profile-img {
    height: 300px;
    width: 300px;
}

#profile-list .list-inline-item {
    /* border: none; */
    outline: none;
    /* padding: 10px 16px; */
    /* background-color: #f1f1f1; */
    color: #70429A;
    cursor: pointer;
    font-size: 18px;
}

/* .active, .list-inline-item:hover {
    border-bottom: 3px solid  #90298d;
                        height: 45px;
} */

.active {
    border-bottom: 3px solid #90298d;
    height: 45px;
}

#profile-list a {
    color: rgb(94, 93, 93);
    text-decoration: none;
}

/* cards */

.interested-posts .interested {
    width: 100%;
}

.interested-posts .interested .row-equal {
    height: 450px;
}

.images {
    width: 254px;
    height: 180px;
}

.images img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.row-equal .card {
    width: 100%;
}

.card-add {
    display: none;
    text-align: center;
    /* pointer-events: none; */
}

.card-add .join {
    background: linear-gradient(to right, #3165b2, #90298d) !important;
}

.card-add .star-logo {
    width: 20px;
    height: 20px;
    position: center;
}

/* .card-add.mt-4 {
    text-align: center;
    pointer-events: none;
} */

.card-block .outdoor-activities {
    color: #90298d;
}

/* Joined-posts */

.joined-posts {
    display: none;
}

.joined-posts .interested {
    width: 100%;
}

.joined-posts .interested .row-equal {
    height: 450px;
}

.card-add .joined {
    color: #90298d;
    background: white !important;
    border: 1px solid #90298d;
}

/* Events-posts */

.events-posts {
    display: none;
}

.events-posts .interested {
    width: 100%;
}

.events-posts .interested .row-equal {
    height: 450px;
}

/* //cards */

.line {
    margin-top: 2px;
}

@media (max-width: 800px) {
    .line {
        display: none;
    }
    .nav-list {
        /* position: absolute; */
        top: 0;
        width: 100%;

    }
}

.profile img {
    border-radius: 50%;
}

.log-out {
    background-color: white;
    color: gray;
    border: none;
    z-index: 50;
    position: absolute;
    top: 100%;
    right: 8%;
}

button.log-out {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .logo {
        margin-left: 33px;
    }
    .nav-list {
        margin-right: 18px;
    }
}

@media only screen and (max-width: 800px) {
    .logo {
        margin-left: 20px;
    }
    .nav-list {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 800px) {
    .main-profile-img {
        height: 150px;
        width: 150px;
    }
    /* .interested-posts .interested .row-equal {
        height: 253vh;
    } */
    .interested-posts .interested .row-equal {
        height: 300vh;
    }
    .joined-posts .interested .row-equal {
        height: 300vh;
    }
    .events-posts .interested .row-equal {
        height: 300vh;
    }
    .card-add {
        display: block !important;
    }
    /* #profile-list .list-inline-item {
        padding: 9px 3px;
    } */
    /* #profile-list .list-inline-item {} */
}

/* @media only screen and (max-width: 375px) {
    #profile-list .list-inline-item {
        padding: -1px 3px;
    }
} */