.nav-list {
    margin-right: -52px;
}

.nav-list .line {
    margin-top: 2px;
}

/* .nav-list {
    margin-right: -52px;
} */

.line {
    margin-top: 2px;
}

section {
    position: relative;
    background-color: black;
    height: 70vh;
    min-height: 10rem;
    width: 100%;
    overflow: hidden;
}

section img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

section .container {
    position: relative;
    z-index: 2;
}

section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.explore-events {
    cursor: pointer;
}

/* cards */

.interested-posts .interested {
    width: 100%;
}

.interested-posts .interested .row-equal {
    height: 450px;
}

.images {
    width: 254px;
    height: 180px;
}

.images img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.row-equal .card {
    width: 100%;
}

.card-add {
    display: none;
    text-align: center;
    pointer-events: none;
}

.card-add .join {
    background: linear-gradient(to right, #3165b2, #90298d) !important;
}

.card-add .star-logo {
    width: 20px;
    height: 20px;
    position: center;
}

/* .card-add.mt-4 {
    text-align: center;
    pointer-events: none;
} */

.card-block .outdoor-activities {
    color: #90298d;
}

/* Media queries */

@media (pointer: coarse) and (hover: none) {
    /* section {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    } */
    section video {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .logo {
        margin-left: 33px;
    }
    .nav-list {
        margin-right: 18px;
    }
}

@media only screen and (max-width: 800px) {
    #video-content h1 {
        font-size: 32px;
    }
    #video-content h4 {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .nav-list .line {
        display: none;
    }
    input#name {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 800px) {
    .logo {
        margin-left: 20px;
    }
    .nav-list {
        margin-right: 0px;
    }
    .interested-posts .interested .row-equal {
        height: 309vh;
    }
    .card-add {
        display: block;
    }
}